/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Welcome Section */

.welcome {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #EBF4EC; /* Background color */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    align-items: center;
    height: 40vh;
    
}

.profile-container {
    display: flex; /* Use Flexbox for layout */
    align-items: center; /* Center items vertically */
    
    align-items: center;
    text-align: center;
}

.profile-pic {
    
   
    margin-right: 40px; /* Gap between image and text */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    
}

.welcome-text {
    flex-grow: 1; /* Allow text container to grow */
}


.welcome-text h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: black;
}

.welcome-text p {
    margin: 0;
    font-size: 1em;
    color: black;
}

.button {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #2c5f2d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.button:hover {
    background-color: #226b22;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 50px;
    height: 50px;
}
/* Recent Adventure Section */
.adventure-section {
    background-color: #EBF4EC;
    padding: 30px;
    border-radius: 15px;
    margin: 40px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.adventure-section h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.adventure-card {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.adventure-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.adventure-details {
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.adventure-details h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: black;
}

.adventure-details p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
}
.adventure-text{
    flex: 1;
}

.adventure-details .adventure-button {
    background-color: #2c5f2d;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: 8vh;
}

.adventure-details .adventure-button:hover {
    background-color: #226b22;
}


/* Responsive Design */
@media (max-width: 768px) {
    .adventure-card {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .welcome-text h1 {
        font-size: 1.5em;
    }

    .adventure-details h3 {
        font-size: 1.2em;
    }
}


