/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section_text_p1 {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.title {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 40px;
}


#projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #eaf5e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 40px;
}

.project-img-container {
    flex: 1;
    max-width: 250px;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
    text-align: left;
}

.project-description {
    font-size: 16px;
    color: black;
    line-height: 1.5;
    text-align: left;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    background-color: #388E3C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #388e3c;
    
}


